version: "3.9"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  airflow:
    image: apache/airflow:2.8.1
    ports:
      - "8081:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./orchestration/dags:/opt/airflow/dags
    command: ["bash", "-c", "airflow db init && airflow webserver"]
